@page "/welcome"

<h3>@message</h3>
<p>This is a string: @thisIsAString</p>
<p>This is an int: @thisIsAnInt</p>
<p>This is a bool: @thisIsABool</p>
<p>This is a char: @thisIsAChar</p>

@code {
    private string message = "This page is for using C# elements that I'm learning.";
    string thisIsAString = "This is a string.";
    int thisIsAnInt = 123;
    bool thisIsABool = false;
    char thisIsAChar = 'p';
}